/****** Object:  Table [dbo].[SPTable]    Script Date: 9/1/2022 10:42:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ListRecordCount] [int] NOT NULL,
	[DateCreated] [datetime] NULL,
 CONSTRAINT [PK_SPTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
