<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://spfunctionapp20220831050324.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1bb83ef6-6340-416e-b1e4-a089f6e13512/resourcegroups/AdCouncilRG/providers/Microsoft.Web/sites/SpFunctionApp20220831050324</ResourceId>
    <UserName>$SpFunctionApp20220831050324</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://spfunctionapp20220831050324.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>